---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}
    {% capture footer_custom %}{% include footer/custom.html %}{% endcapture %}
    {% capture footer_main %}{% include footer.html %}{% endcapture %}
    {% assign footer_markup = footer_custom | append: footer_main | strip %}

    {{ content }}

    {% if footer_markup != "" %}
      <div class="page__footer">
        <footer>
          {{ footer_custom }}
          {{ footer_main }}
        </footer>
      </div>
    {% endif %}

    {% include scripts.html %}

  </body>
</html>
